<template>
    <div class="links">
        <div class="m-title pt-4 pb-5 mb-2">友链</div>
        <div>
            github : <a href="https://github.com/Woo0ow">https://github.com/Woo0ow</a>
        </div>
        <div>
            gitlab : <a href="https://gitlab.com/halo_gitlab">https://gitlab.com/halo_gitlab</a>
        </div>
    </div>
</template>
<script>
    export default{
        name:'Links'
    }
</script>