<template>
    <div id="app">
        <home/>
    </div>
  </template>
  
 <script>
 import Home from './components/Home/Home.vue';
    export default{
        name:'App',
        components:{
            Home
        }
    }
</script>
<style>
    
</style>